/* header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    height: 80px;
    box-shadow: rgb(0 0 0 /8%) 0 1px 0;
}

.logo-img {
    cursor: pointer;
}

.search-tab {
    position: relative;
    left: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--border-gray);
    border-radius: 40px;
    min-width: 350px;
    height: 48px;
    padding: 0 8px;
    box-sizing: border-box;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 5%);
}

.search-tab:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}

.search-tab * {
    cursor: pointer;
}

.search-tab__btn {
    padding: 0 16px;
    white-space: nowrap;
    font-size: 14px;
    font-weight: 600;
    color: #343434;
}

.search-tab__btn:last-child {
    color: #717171;
}

.magnifying-icon {
    width: 12px;
}

.magnifying-icon__wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-pink);
    border-radius: 50%;
    flex-basis: 32px;
    flex-shrink: 0;
    height: 32px;
}

.divider {
    flex-basis: 1px;
    background-color: var(--border-gray);
    height: 24px;
    flex-shrink: 0;
}

.header-right-section {
    display: flex;
    align-items: center;
    gap: 8px;
}

.do-airbnb {
    padding: 12px;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
    border-radius: 22px;
}

.do-airbnb:hover {
    background-color: #f7f7f7;
}

.profile-section {
    display: flex;
    align-items: center;
    border: 1px solid var(--border-gray);
    border-radius: 21px;
    padding: 5px 5px 5px 12px;
    gap: 12px;
    cursor: pointer;
}

.profile-section:hover {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.18);
}